*{              /*esclarecimento de certos atributos do CSS3 "border-top" espaçamento a cima, "border-bottom" espaçamento abaixo e tambem tem o  "padding:X-px Ypx" primeira numeração e deslocamento de cima e baixo, e a segunda numeração e do deslocamento dos lados direito e esquerdo.;*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display:flex;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(70, 69, 69);
    border-radius: 30px;
    display:flex;
}
/*::-webkit-scrollbar-button{*/
   
    

::-webkit-scrollbar-thumb :hover{
    background-color:#ccc;
}
body{
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    
}

header{
    height: 100px;
    background-color: rgb(3,19,70);
    color:#fff;    
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo img{
    width:90px;
    height:90px;
    border-radius: 70px;
    background-color: rgb(000, 000, 70);
}

.menu-opener{
    display:none;
}
.menu{
    flex:1;
    display: flex;
    justify-content: center;
}
.menu ul,
.menu li{
    list-style:none;
}
.contacts{
    margin-left:20px;
    
}
.esco{
    margin-left:-15px;
}



/*@media (max-width:450px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }*/
.menu ul{
    display:flex;
    padding-left: 120px;

}
.menu li a {
    position:relative;
    color:white;
    text-transform:uppercase;
    font-weight: 600;
    text-decoration:none;
    display:block;
    padding-left:0px;
    padding-right:10px;
    height: 100px;
    display: flex;
    align-items:center;
    border-bottom:5px solid rgb(000, 000, 70);
    font-size: small;
    width: 150px;
}

.menu li a:hover,
.menu .active a 
{
    border-bottom:5px solid   rgb(000, 000, 70);
    color:#CCC;
   
}

.button{
    display: inline-block;
    background-color:   rgb(000, 000, 70);
    color:white;
    text-transform: uppercase;
    font-weight: 600;
    font-size:12px;
    text-decoration:none;
    padding: 13px 25px; 
    margin-top: 25px;
    border-radius: 20px;
    transition:all 1s ease-out;
}
.button:hover{
    margin-bottom:5px;
    margin-top:20px;
    background-color:rgb(000, 000, 200);
}
.banner{
    height:calc(100vh - 100px);
    background-color:#333;
    background-image:url("../images/imagem-escoteiro.jpg");
    background-size:cover;
    background-position:center;
    overflow:hidden;
}
.banner .sliders{
    width: 1000vw;
    height:100%;
}
.banner .slide{
    width:100vw;
    height:100%;
    background-color:rgba(0, 0, 0, 0.8);
}
.banner .slidearea{
    display:flex;
    flex-direction:column ;
    height:100%;
    justify-content: center;
    align-items: center;
    color:#FFF;    
}
.banner h1{
    text-transform:uppercase;
    font-weight:bold;
    font-size: 50px;
}
.banner h1 span{
    margin-left:100px;
}
.banner h2{
    margin-top: 20px;
}



.zap{
    width: 30px;
    height:30px
}
.zapp{
    background-color:rgb(000, 150, 000);
    text-transform: uppercase;
    text-decoration:none;
    padding: 11px;
    padding-left: 13px;
    padding-right: 10px;  
    margin-top: 20px;
    border-radius:15px;
    height:55px;    
    align-items:center;
}
.banner .sliders-pointers{
    width:100vw;
    height:20px;
    position:absolute;
    margin-bottom: -500px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height:15px;
    border:2px solid rgb(000, 000, 70);
    border-radius: 8px;
    margin-left: 5px;
    margin-right:5px;
    cursor: pointer;
    transition:all 0s ease;
}
 .pointer.active{
    background-color:rgb(000, 000, 70);
}
.pointer.active:hover{
    border:1px solid rgb(000, 000, 100);
    background-color:rgb(000, 000, 145);
}
.pointer:hover{
    border:1px solid rgb(000, 000, 200);
    margin-bottom:8px;
    background-color:rgb(000, 000, 200);
}


.default{
    width:100vw;
    padding-top: 50px;
    padding-bottom: 50px;

}

.default .section-title, 
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title{
    font-size: 20px;
    COLOR:#000;
}
.default .section-desc{
    font-size: 12px;
    color:#CCC;
    margin-top: 10px;    
    margin-bottom:40px;
}
.default.light,
.section-body{
    max-width: 1140px;
    margin:auto;
 

}
.default .light{
    background-color:#F7F7F7;
}
.default.light .section-title,
.default.light .section-body {
color:black;
}


.default.dark{
    background-color:rgb(000, 000, 70);
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}
.section-aboutus{
    margin-bottom: -850px;
}
.section-aboutus--left{
    width:50vw;
    height:20vh;
    margin-left: -5vw;
}
.section-aboutus--right img{
    display:flex;
    margin-left:50vw;
    margin-top:-100vh;
    margin-bottom:150vh;
    width:50vw;
    height:40vh;
}



.section-services{
    flex-direction: column;
    display:flex;
    margin-top: none;
    width:-40vw;
    height:30vh;
}
.section-service img{
    width:16vw;
    height:120px;
}
.section-service img:hover{
    cursor:pointer;
    
}
.section-service{
    flex:1; 
    text-align: center;
    border-right:1px solid #333;
    padding: 15px;
}
.section-service:first-child{
    border-left:1px solid #333;
}
.section-service{
    flex:1;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size:18px;
}
.section-service p {
    margin-top:10px;
    font-size:12px;
    color:#999
}



.section-projects{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--photos{
    width:100vw;
    max-width:1140px;
    margin-top:20px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
.section-projects--photo{
    width:280px;

}
.section-projects-photoarea{
    margin:10px;
    width:260px;
    height:160px;
}
.section-projects-photoarea img{

    width:inherit;
    height: inherit;

}
.section-projects-photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.section-projects-photoinfo h5{
    font-size:18px;
    font-weight: 600;
}
.section-projects-photoarea:hover .section-projects-photoinfo{
    display:flex;
}


.bg-team{
    background-image:url('../images/bg.jpg');
    background-size:cover;
    background-position:center;
    padding:0;
}
.section-team-area{
    background-color:rgba(0, 0, 0, 0.8);
    padding-top:50px;
    padding-bottom:50px;
}
.section-team{
    overflow:hidden;
    max-width:880px;
    margin: auto;
}
.section-team .sliders{
    width:1000vw;
    height:100%;
    display:flex;
}
.section-team .slide{
    width:280px;
    height:100%;
    min-height:300px;
    display:inline-block;
    background-color:#FFF;
    margin-right:20px;
}
.section-team .slidearea {
    flex-direction: column;
    display:flex;
    justify-content:center;
    align-items: center;
    height:100%;
    color:#000;
    padding:30px;
}
.section-team-area .sliders-pointers{
    margin-top:30px;
    height:20px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.section-team-area .pointer{
    width: 15px;
    height:15px;
    border:2px solid rgb(000, 000, 70);
    border-radius: 8px;
    margin-left: 5px;
    margin-right:5px;
    cursor: pointer;
}
.section-team-area .pointer.active{
    background-color:rgb(000, 000, 70);
}
.section-team--avatar {
    width: 150px;
    height: auto;
   
}
.section-team--name {
    text-transform:uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team--role{
    font-size: 14px;
    color:#999;
    margin-top: 5px;
}
.section-team--social {
    display:flex;
    margin-top:20px;
}
.int{
    margin-top:10px;
    transition:all 0s ease;
}
.int:hover{
    margin-top:3px;
    background-color:rgb(000, 000, 70);
}

.section-team--social .instagram img{
    width: 25px;
    height:25px;
    border-radius:20px;

}

.section-team--social a {
    display:inline-flex;
    justify-content: center;
    align-items:center;
    width:25px;
    height:25px;
    background-color:#999;
    border-radius: 13px;
    margin-right:10px;
}

/*.client-name{
        align-items: center;
        font-size:14px;
        font-weight: 700;
       margin-bottom: 5px;
       margin-left:535px;
}
.client-role {
    color:rgb(117, 117, 117);
    margin-bottom:20px;
    margin-left:490px;
    
}
.client-photo{
    margin-left:490px;
}
.SUS{
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left:450px;
}
.space{
    margin-left:300px;
}
.text{
    line-height: 20px;
    align-items: center;
    text-transform: none;
    font-size: 15px;
    color: rgb(117, 117, 117);

}
.section-client-area .slidearea{
    margin-left:100px;
    margin-bottom:20px;
    justify-content:center;
    align-items: center;
    height:100%;
    color:#000;
}
.section-client-area .pointer{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height:15px;
    border:2px solid rgb(000, 000, 70);
    border-radius:8px;
    margin-left: 2px;
    margin-right:2px;
    cursor: pointer;
}
.section-client-area .active{
    background-color: rgb(000, 000, 70);;
    flex-direction: row;
}
.section-client-area .sliders-pointers{
    margin-top:20px;
    margin-bottom:50px;
    margin-left: 530px;
}
*/
.section-dark{
    display:flex;
    background-color:#FFF;
    width: 100vw;

}
.section-map {
    background-image: url('../images/Screenshot_1.png');
    background-size:cover;
    padding-top: 15px;
    padding-bottom:30px;
    width: 1150px;
    margin-top:30px;
    margin-left: 100px;
    height:1150;
}
.section-map--area{
    display:flex;
    width: 100vw;
    max-width:1140px;
    margin: auto;
    
}
.section-map--info{
    width:50%;
    height: 300px;
    padding:30px;
    background-color:rgb(000, 000, 70);
    color: #fff;
}
.section-map--info-item {
    display:flex;
    align-items: center;
    color: white;
    background-color: rgb(000, 000, 60);
    MARGIN-BOTTOM:10px;
}
.section-map--info-item-img{
    width:30px;
    height: 26px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(000, 000, 60);
    border-radius:15px;
    margin-right:10px;
}
.section-map--info-item-img img{
    width:15px;
    height:auto;
}

.section-map--info-item {
    margin-bottom:20px;
}
.section-map--info-item:last-child {
    margin-bottom:0;

}
.section-map-social{
    color:white;
    align-items: center;
    background-color:  rgb(000, 000, 70);;
}

.icone{
    margin-bottom:20px;
    border-radius: 20px;
    margin-left:30px;
    border:5px solid #6666;
    
}
.section-formulario{
    background-color:rgb(000, 000, 70);
    outline: unset;
   margin-left:20px;
   border:0px solid rgb(000, 000, 70);
   border-bottom: 1px solid #FFF ;
   width:160px;
   align-items: center;
   padding:10px;
}
.text{
    flex-direction: column;
    position: absolute;
    margin-top:-50px;
    margin-left:560px;
}
.section-botão{
    position: absolute;
    margin-bottom:500px;
    margin-left:490px;
    border: 1px solid white;
    background-color:rgb(000, 000, 100);
    padding:10px;
    color:#FFF;
    cursor: pointer;
}
.ynt{
    margin-top:10px;
    transition:all 0s ease;
}
.ynt:hover{
    margin-top:3px;
    background-color:rgb(000, 000, 70);
}

















/*CSS DE AREAS ESPEECIFICAS (:*/

.section-aboutus{
    display: flex;
}
.section-aboutus--left {
    flex:1;
}
.section-aboutus--left p{
    font-size:14px;
    line-height:20px;
}
.section-aboutus--right{
    width: 500px;
    align-items: center;
     
}
.section-aboutus--right img {
    width:480px;
    box-shadow: 0px 5px 10px  black;
    
}

@media (min-width:500px) and (max-width:820px){
    .logo{  
        margin-left:30px;
    }
    /*.menu-opener{
        display:block;
        width:45px;
        margin-right: 30px;
    }*/
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(110vw - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height:80px;
        font-size:27px;
        margin-left:50px;
        border:0;

    }
    .menu li.active a{
        border:0;
        color:#B28756;
    }
    .banner{
        margin-top: -90px;
        width:1140px;
        height:650px;
    }
    .banner h1{
        margin-left:19px;
    }
    .banner span{
        margin-right:0px
    }
    .banner .sliders-pointers{
        margin-top: -150px ;
    }
    .section-aboutus{
        flex-direction: column;
        
    }
    .section-aboutus--left p{
        margin-bottom:0px;
      margin-left:35px;
        min-width:350px;
        max-width:450px;
       
    }
    .section-aboutus .button{
        margin-left:40px;
    }
    .section-aboutus--right{
        margin-top: 20px;
        margin-left:35px;
        margin-bottom:120px;
    }

    .section-aboutus--right img{

        width:500px;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .section-team{
        max-width: 280px;
    }
   
    .section-map{
        padding-left:30px;
        padding-right:30px;
    }
    .section-map--area{
        width:300px;
    }
    .section-map-info{
        width: auto;
    }
    .section-map--info-item{
        margin-bottom:20px;
        
    }
    
}
@media (max-width:450px){
    .logo{
        margin-left:30px;
    }
    .menu-opener{
        display:block;
        width:45px;
        margin-right: 100px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100px;
        height: calc(170vw - 100px);
        top: 100px;
        right: 0;
    }
    .menu{
        width: 500vw;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height:60px;
        font-size:20px;
        margin-left:30px;
        border:0;

    }
    .menu li.active a{
        border:0;
        color:#B28756;
    }
    .banner{
       width: 450vw;
       height:200vh;
        margin-top:-88px;
    }
    .banner .slidearea{
        width:95%;
        height:95%;
       margin-right:10vh;
    }
    .banner .slide{
        width:400vw;
        height:100%;
    }
    .banner h1{
        font-size:100px;
    }
    .banner h2{
        font-size: 100px;
    }
    .banner .button{
        padding-left:16vw;
        font-size: 45px;
        height:7%;
        width: 35%;
        border-radius:100px;
        margin-top:0%;
    }
    .zapp{
        margin-bottom: 10vh;
        margin-top:10vh;
        width:50vw;
        height:15%;      
        text-decoration:none;
        padding:2%;
        padding-left: 3%;
        padding-right: 3%;  
        border-radius:30%;  
    }
    .zap{ 

        width:30vw;
        height:30vw;
    }
    .banner .sliders-pointers{
        width:100vw;
        height:20px;
        position:absolute;
        margin-bottom: -500px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .banner .pointer{
        width: 10vw;
        height:7vh;
        border:10% solid rgb(000, 000, 70);
        border-radius: 100%;
        margin-top: 95vh;
        margin-left: 5px;
        margin-right:5px;
        cursor: pointer;
        transition:all 0s ease;
    }
     .pointer.active{
        background-color:rgb(000, 000, 70);
    }
    .pointer.active:hover{
        border:1px solid rgb(000, 000, 100);
        background-color:rgb(000, 000, 145);
    }
    .pointer:hover{
        border:1px solid rgb(000, 000, 200);
        margin-bottom:8px;
        background-color:rgb(000, 000, 200);
    }
        
    }
    .section-aboutus{
        flex-direction: column;
        width:400vw;
        height:190vh;
    }/*
    .section-aboutus--left .button{
        padding-left:6%;
        font-size: 45px;
        height:15%;
        width: 120vw;
        border-radius:100px
    }
    .section-aboutus--left{
        width:230vw;
        height:50vh;
        margin-left:30px;
        margin-right: 30px;
        margin-bottom:30px;
    }
    .section-aboutus--right{
        margin-left:260px;
    }
    .section-aboutus--right{
        width:auto;
        margin-left:10vw;
        margin-right:10vw;
    }
    .section-aboutus img{
        width:100%;

    }*/
    .section-services{
       min-width:100%;
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .section-projects-filters{
        margin-left:20px;
        margin-right:30px;
    }
    .section-projects-photo{
        width:400px;
        height:190px;
    }
    .section-team{
        max-width: 280px;

    }
    .section-client-area .sliders-pointers{
        margin-left:170px;        
    }
    .client-photo{
        margin-left: 150px;
    }
    .client-name{
        margin-left: 198px;
    }
    .client-role{
        margin-left: 150px;
    }
    .SUS{
        margin-left: 115px;
    }
    .text{
        margin-right: 20px;
    }
    .space{
        display: none;
    }
    .section-map{
        padding:0;
        padding-bottom:250px;
    }
    .section-map--area{
        width:900px;      
    }
    .section-map--info{
        height: 245px;
        width: auto;
    }
    .section-map--info-item{
        margin-bottom:20px;
        
    }
}

